mixin subscription(options={})
    -
        const {
            header = false,
            title = '',
            description = '',
            placeholder = '',
            type = '',
            name = '',
            value = '',
        } = options;

    div.subscription
        if (header)
            div.subscription__header
                p.subscription__title=title
                p.subscription__description=description
        div.subscription__wrapper
            input.subscription__input(type=options.type, name=options.name, placeholder=options.placeholder, value=options.value)