mixin slider(options={})
    -
        const {
            description = '',
            max = '',
            min = '',
            value1 = '',
            value2 = '',
            step = '',
        } = options;
    .slider
        .slider__header 
            .slider__description=description
            .slider__values 5000 - 100000
        .slider__body 
            .slider__progress
            .range-input 
                input.slider__range.range-min(type='range' min=min max=max step=step value=value1)
                input.slider__range.range-max(type='range' min=min max=max step=step value=value2)